<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<body id="home">
  <%= render '/shared/header' %>

  <h2 class='center-align row section'>Our Team</h2>
  
  <div class='divider'></div>
  <div id='team'>
    <div id='team-doctors-section' class='container section'>
    <% for @member1, @member2 in @doctors.each_slice(2) do%>
      <% if @member2 == nil %>
        <div class='row'>
          <%= render '/home/show-solo-member', member: @member1%>
        </div>
      <% else %>
        <div class='row'>
          <%= render '/home/show-members', member: @member1%>
          <%= render '/home/show-members', member: @member2%>
        </div>
      <% end %>
    <% end %>
    </div>

    <div id='team-masters-section' class='container section'>
    <% for @member1, @member2 in @masters.each_slice(2) do%>
      <% if @member2 == nil %>
        <div class='row'>
          <%= render '/home/show-solo-member', member: @member1%>
        </div>
      <% else %>
        <div class='row'>
          <%= render '/home/show-members', member: @member1%>
          <%= render '/home/show-members', member: @member2%>
        </div>
      <% end %>
    <% end %>
    </div>

    <div id='team-bachelors-section' class='container'>
    <% for @member1, @member2 in @bachelors.each_slice(2) do%>
      <% if @member2 == nil %>
        <div class='row'>
          <%= render '/home/show-solo-member', member: @member1%>
        </div>
      <% else %>
        <div class='row'>
          <%= render '/home/show-members', member: @member1%>
          <%= render '/home/show-members', member: @member2%>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>

  <div id="googleMap" style="width:100%;height:420px;"></div>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuv2LMO3aL-7RvBN3LwhCiAPv18-FXqGM&callback=myMap">
  </script>

  <%= render '/shared/footer' %>
</body>
</html>